@namespace BlazingPizza.Pages.Shared
@inject HttpClient HttpClient
@using BlazingPizza.Models

<div>
    @Pizza.Special.Name
</div>

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Pizza.Special.Name</h2>
            @Pizza.Special.Description
        </div>
        <form class="dialog-body">
            <div>
                <label>Size:</label>                                                                              
                <input type="range" min="@Pizza.MinimumSize" max="@Pizza.MaximumSize" step="1" @bind="Pizza.Size" @bind:event="oninput" />
                <span class="size-label">
                    (@Pizza.Size) (@(Pizza.GetFormattedTotalPrice()))
                </span>
            </div>
        </form>
   
        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" @onclick="OnCancel">Cancel</button>
            <span class="mr_center">
                Price: <span class="price">@(Pizza.GetFormattedTotalPrice())</span>
            </span>
            <button class="btn btn-success ml-auto" @onclick="OnConfirm">Order</button>
        </div>
     </div>
</div>

@*the idea here is to show the selected pizza, one of the six specials*@
@code {
    [Parameter]
    public Pizza Pizza
    {
        get; set;
    }

    [Parameter] public EventCallback  OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
}