@page "/"
@using BlazingPizza.Models
@using BlazingPizza.Data
@using BlazingPizza.Pages.Shared
@using Dapper
@inject ISQLite3Ctrl sqc
@inject PizzaService pizzaSvc
@inject HttpClient HttpClient
@using BlazingPizza.Components
@using BlazingPizza.Services
@inject OrderState OrderState

<PageTitle>Home</PageTitle>

<div class="main">
    <h1>Blazing Pizzas</h1>
    <ul class="pizza-cards">
        @if (specials != null) @*By checking for null in the @if code block, you ensure that Blazor won't try to display
        pizza details before data is obtained from the service.*@
        {
            @foreach (var special in specials)
            {
                <li @onclick="@(() => OrderState.ShowConfiguringPizzaDialog(special))"
                    style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title"> @special.Name</span>
                        @special.Description
                        <span class="price"> @special.BasePrice</span>
                    </div>
                </li>
            }
        }
        else
        {
            <p>We're finding out what pizzas are available today...</p>
        }
    </ul>
</div>

<table>
    <thead>
        <th>Pizza Name</th>
    </thead>
    <tbody>
        @foreach (var pizza in specials)
        {
            <tr @onclick="@(() => TableRowOnClick(pizza.Id))">
                <td>@pizza.Id</td>
                <td>@pizza.Name</td>
                <td><button @onclick="ReportPointerLocation"> tbl btn @pizza.Name
                    </button></td>
            </tr>
        }

    </tbody>
</table>

<table>
    <thead>
        <th>Pizza Name, selected row</th>
    </thead>
    <tbody>
        @for (int RowNo = 0; RowNo < specials.Count(); RowNo++)
        {
            var pizza = specials[RowNo];
            int rn = RowNo;
            <tr tabindex="0" @onclick="@(() => selectRow(rn))" class="@(selectedRowNo == rn ? "highlight" : "" )"
                @onkeydown="HandleKeyPress">
                <td>@pizza.Id</td>
                <td>@pizza.Name</td>
                <td><button @onclick="ReportPointerLocation"> tbl btn @pizza.Name
                    </button></td>
            </tr>
        }

    </tbody>
</table>

<button @onclick='() => OrderState.ShowConfiguringPizzaDialog(new PizzaSpecial{ Name = "ABCdef"})'>another test</button>

<TestComp></TestComp>

@if (OrderState.ShowingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="OrderState.ConfiguringPizza"></ConfigurePizzaDialog>
}

<h2>@headingValue</h2>
<p>
    <button @onclick="UpdateHeading">
        Update heading
    </button>
</p>

<div class="sidebar">
    @if (order.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your order</h2>

            @foreach (var configuredPizza in order.Pizzas)
            {
                <div class="cart-item">
                    <div class="title">(@configuredPizza.Size) @(configuredPizza.Special.Name)</div>
                    <div class="item-price">
                        @configuredPizza.GetFormattedTotalPrice()
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <div class="empty-cart">Choose a pizza <br> to get started</div>
    }

    <div class="order-total @(order.Pizzas.Any() ? "" : "hidden")">
        Total:
        <span class="total-price">@order.GetFormattedTotalPrice()</span>
        <a href="checkout" class="@(OrderState.Order.Pizzas.Count == 0 ? "btn btn-warning disabled" : "btn btn-warning")">
            Order >
        </a>
    </div>
</div>

@code {
    //List<PizzaSpecial> specials = new();
    List<PizzaSpecial> specials;
    Order order => OrderState.Order;
    Pizza configuringPizza;
    bool showingConfigureDialog;
    private string headingValue = "Initial heading";
    int PizzaID;

    int? selectedRowNo = null;
    void selectRow(int id)
    {
        selectedRowNo = id;
    }

    @* KeyPress doesn't work unless the control can get focus, editable*@
    void HandleKeyPress(KeyboardEventArgs args)
    {
        if (selectedRowNo == null)
            return;

        if (args.Key == "ArrowUp")
        {
            if (selectedRowNo > 0)
                selectedRowNo--;
        }
        else if (args.Key == "ArrowDown")
        {
            if (selectedRowNo < specials.Count() - 1)
            {
                selectedRowNo++;
            }
        }
        /*
        if (args.Key == "ArrowUp" || args.Key == "ArrowDown")
        {
        var currentIndex = selectedRowNo ?? 0;
        int newIndex;

        if (args.Key == "ArrowUp")
        {
        newIndex = currentIndex > 1 ? currentIndex - 1 : 1;
        }
        else // ArrowDown
        {
        newIndex = currentIndex < specials.Count() ? currentIndex + 1 : specials.Count();
        }

        selectedRowNo = newIndex; // specials[newIndex].Id;
        }
        */
    }



    // A good place to call the service and obtain data is in the OnInitializedAsync method
    // This event fires when the component's initialization is complete and it has received initial parameters but before
    // the page is rendered and displayed to the user.
    protected override async Task OnInitializedAsync()
    {
        // works but: return specials = await pizzaSvc.GetPizzasAsync(sqc);

        // _logger.LogInformation("customer index get");
        using var conn = sqc.Sqlite3Conn;

        @* var p = new { sf1 = LCF.FilterValue + "%" };
//var p2 = new { sf2 = "Address" };
string fieldName = LCF.FilterField ?? "Name"; //todo "Name";
string SortField = LCF.SortField ?? "Name"; //todo "Name";
string SortOrder = LCF.SortOrder ? "DESC" : ""; //todo "Name"; *@



        // var sql = $"select * from Customer where {fieldName} like @sf1 order by {SortField} {SortOrder}";
        var sql = "select * from Pizza";
        var res = await conn.QueryAsync<PizzaSpecial>(sql); //todo: param, p); //todo:.ToList(); //todo: using
        specials = res.ToList();
        // ShowConfigurePizzaDialog(new PizzaSpecial{ Name = "ABC"});
        @* /return Task.Complete *@
    }

    private void tst()
    {
        Console.WriteLine("on clicke");
    }

    private void ReportPointerLocation(MouseEventArgs e)
    {
        Console.WriteLine("on clicke");
        Console.WriteLine($"Mouse coordinates: {e.ScreenX}:{e.ScreenY}");
    }

    private void UpdateHeading()
    {
        headingValue = $"New heading ({DateTime.Now})";
    }

    void TableRowOnClick(int id)
    {

    }
}
